#menuItems{
    display: grid;
    padding: 0;
    margin: 0;
 
     
}
 

 


.menuItemContainer{
    display: grid;
    grid-template-areas: 
    'img title btn'
    'img description btn'
    'img price btn'
    ;
    grid-template-columns: 9rem 1fr 3rem;
    grid-template-rows: 35% 30% 35%;
    background: white;
    max-height: 10rem;
    max-width: 45rem;
    
    border: solid 1rem rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0.15rem 0 ;
}

@media (min-width: 801px){
    .description {
        overflow: hidden;
        scrollbar-width: none;
    }
    
} 

@media (max-width: 801px){
    .menuItemContainer{
        grid-template-columns: 9rem 1fr 2rem;
    }
    
} 



.title{
    font-size: 1rem;
    grid-area: title;
    padding-right: 0.25rem;
    margin-left: 0.25rem;
}
.price{
    color: green;
    font-size: 2vh;
    grid-area: price;
    height: 100%;
    text-align: start;
    margin-left: 0.25rem;
}

.photo{
    width: 8.93rem;
    grid-area: img;
    align-self: center;
    justify-self: center;
    height: 8.93rem;
    border-radius: 10px;
}

.description{
    font-size: 1vh;
    grid-area: description;
    padding-left: 0.5rem;
    overflow: scroll;
    height: 3rem;
}

.qtyBtn {
    grid-area: btn;
    
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    button{
        border: solid 0.1rem teal;
        border-radius: 50%;
       
        font-size: 86%;
        color: dimgray;
        height: 1.4rem;
        width: 1.4rem;

        margin: 0rem auto;
        padding: 0;
    }

    p{
        width: 100%;
        text-align: center;
        color: rgb(75, 75, 75)
    }
     
}

li{
    list-style: none;
}

h4 {
    justify-content: center;
    display: flex;
}