.dietContainer{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1.25rem;
    border-radius: 10px;
    margin-left: 3rem;
    
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    margin: 0.25rem;
    padding: 0.25rem;
    border: solid 0.1rem gray
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}

.input {
    display: flex;
    flex-direction: column; 
    
    margin-bottom: 1.5rem; 

}
.input input {
    border-bottom: 0.1rem solid black;
}

hr{ display: none;}
